
body {margin: 0;}

/*
---------------------------------------------------------------------------------------------------------
RESPONSIVE BAR
---------------------------------------------------------------------------------------------------------
*/
/*Barra superior*/


.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.w3-bar {position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}

.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}

.w3-wide{letter-spacing:4px}

.w3-padding-small{padding:4px 8px!important}.w3-padding{padding:8px 16px!important}.w3-padding-large{padding:12px 24px!important}

.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
/*
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}

.w3-btn,.w3-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
.w3-button:hover{color:#000!important;background-color:#ccc!important}

.w3-right{float:right!important}
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}


*/

/*TOP Navbar fixed that moves*/

.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}
/*
#body_div {
	top: 0;
	position: relative;
    height: 200px;
}*/
#banner {
	width: 100%;
	height: 1000px;
    background-color: gray;
	overflow: hidden;
}

#nav_bar {
	border: 0;
	background-color: #202020;
	border-radius: 0px;
	margin-bottom: 0;
    height: 30px;
}

.nav_links {
    margin: 0;

}

.nav_links li {
	display: inline-block;
    margin-top: 4px;
}
.nav_links li a {
	padding: 0 15.5px;
	color: #3498db;
	text-decoration: none;
}


/*Barra de iconos*/
body {margin:0;}

.topTopnav{
	margin-left: 15px;
	margin-right: 15px;
	padding: 15px;
	margin-top: 40px;
	margin-bottom: 80px;
}

.logo {
	position: relative;
	float:right;

}
/* Nav bar*/
.topnav {
  overflow: hidden;
  background: linear-gradient(to bottom, #fc5500 20%,#fc730a 100%);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;

}

.topnav a:hover {
  background-color: #fc8f3a
;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*blocks in the nav bar*/
.blockBar{
	margin-left: 25px;
}
/*
---------------------------------------------------------------------------------------------------------
Texto estilo
---------------------------------------------------------------------------------------------------------
*/

.cuerpo{
    padding: 30px;
}

/*
.head {
  background: #cd679a;
  padding: 40px 0;
  text-align: center;
}
.head h1 {
  display: inline-block;
  font-family: 'Slabo 27px', serif;
  font-size: 64px;
  color: #fff;
  margin: 0;
  position: relative;
  top: -40px;
}
.head h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  margin: 0 0 20px 0;
}
*/

.footnote{
    padding: 15px;
}


/*
---------------------------------------------------------------------------------------------------------
Otros
---------------------------------------------------------------------------------------------------------
*/





/*
---------------------------------------------------------------------------------------------------------
Social media buttons
---------------------------------------------------------------------------------------------------------
*/
.ex1, .ex3 {
  margin-left: 40px;
  padding-top: 60px;
  text-align: center;
  background: #fff;
}
.ex1 i, .ex3 i {
  margin: 0 20px;
  color: #333;
  cursor: pointer;
}

.ex1 i:hover {
  color: #fc730a;
  -moz-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.footnote{
   bottom : 2px;  
   height : 40px;  
   margin-top : 40px;  
   text-align: center;  
   vertical-align: middle; 
   width:100%;
	
}
